{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block main %}
    <div class="container">
        <pre>
            {{ dump(cart) }}
        </pre>
    </div>
{% endblock %}
