/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 95vh;
}

.carousel-item:nth-child(1) {
    background-image: url('../images/rorqual_commun.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(2) {
    background-image: url('../images/baleines_noires.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(3) {
    background-image: url('../images/recif_coralien.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #introCarousel {
        margin-top: -58.59px;
    }
}

.navbar .nav-link {
    color: #000 !important;
}

.shadow-custom {
    box-shadow: 0 2px 5px 0 #fff, 0 3px 10px 5px rgba(255, 255, 255, 0.5) !important;
}
