<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="Océan" name="author">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Découvrez les dernières actualités de l'association Océan.">
        <meta name="keywords" content="">
        
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('/images/favicon.ico')}}">
		{# <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"> #}
		{# <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> #}

		<!-- Title -->
		<title>
			{% block title %}
				Association OCEAN
			{% endblock %}
		</title>
		
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

		<!-- CSS -->
		{% block stylesheets %}
			<link href="{{asset('css/style.css')}}" rel="stylesheet">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
			{# <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet"/> #}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		{% endblock %}

		<!-- Javascripts -->
		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" defer></script>
			{# <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js" defer></script>	 #}
		{% endblock %}
	</head>

	<body>
		<!-- header -->		
		{% block header %}
		<header>
			{% include "partials/_navbar.html.twig" %}
			{% if block('carousel') is defined %}
				{% include "partials/_headerHome.html.twig" %}
			{% endif %}
		</header>	
		{% endblock %}		

		<!-- main -->		
		{% block main %}
		<main>
			{# {% if block('sidebar') is defined %}
				{% include "partials/sidebar.html.twig" %}
			{% endif %} #}
		</main>
		{% endblock %}		

		<!-- footer -->		
		{% block footer %}
		<footer>
			{% include "partials/_footer.html.twig" %}
		</footer>	
		{% endblock %}
		
	</body>
</html>
