{% extends 'base.html.twig' %}

{% block title %}Hello CGUController!
{% endblock %}

{% block main %}
	<div class="container">
		<h1 class="text-center">Conditions Générales d'Utilisation</h1>

		<p class="text-justify">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda possimus hic magni illum. Reprehenderit velit quas vitae odit quod maiores accusantium iusto fugit debitis esse mollitia possimus inventore, cumque sunt.
			Doloribus laudantium, qui, quae, nihil reprehenderit ipsam neque voluptatum cumque fugit similique aliquam libero consectetur molestiae! Id, reprehenderit itaque libero eum eos nam, unde commodi explicabo sequi atque consectetur ipsam!
			Aliquid earum quaerat consectetur quidem animi commodi possimus optio. Eum alias, hic dignissimos quae nam enim explicabo distinctio veniam accusantium cumque rem doloremque magni voluptatem, porro omnis, deleniti ea dolorum.
			Molestiae consectetur nihil sit laudantium voluptatum corporis repudiandae nemo dolorum, recusandae est incidunt, tempore tenetur sapiente odit assumenda ipsam. Minima sit officia accusantium ex enim nemo eveniet itaque veritatis inventore!
			Odio itaque assumenda fugiat rerum. Voluptatum consequuntur neque dolores possimus. Doloribus ipsa impedit doloremque qui illo laudantium quis quasi mollitia ipsum. Quisquam itaque tempore debitis velit dolorem! A, illum in.
			Quaerat hic libero perferendis iusto. Officia, ipsa? Eligendi esse, dolor aliquid provident doloribus possimus, ipsum saepe nostrum non aperiam ipsam officiis excepturi minima consequuntur ipsa quisquam, magnam architecto labore sapiente!
			Quam ducimus accusamus quos nam corporis necessitatibus sint deserunt, omnis nihil debitis commodi architecto praesentium pariatur maxime excepturi, saepe reiciendis quis ab et hic animi cupiditate consequatur iure? Minus, laborum.
			Asperiores molestiae minus dignissimos? Hic, voluptatibus. Beatae sapiente exercitationem voluptas amet ducimus soluta eaque, perferendis repellat animi quod ipsa cum iusto aperiam non itaque quam explicabo rem? Unde, sequi facere.
			Enim, veritatis accusantium, qui excepturi nesciunt eligendi pariatur assumenda officia illum animi aliquam repellendus corporis quo? Nostrum, natus numquam minus ipsam obcaecati voluptates cumque reiciendis dolores! Fugit quae tempore delectus?
			Est molestias, dolorem ad quasi debitis doloribus quas dolores possimus voluptate maiores perferendis ab nemo. Accusantium, magnam repellendus earum ut natus voluptates molestiae porro ipsum eveniet necessitatibus asperiores recusandae. Aliquid!
			Nemo officiis corporis praesentium sunt quisquam repellat. Necessitatibus adipisci tempore delectus iusto corrupti porro nemo quas culpa expedita perferendis eos, molestias, voluptatibus fuga minima sequi optio, velit cum voluptates doloremque.
			Rerum, provident eos vero non reiciendis voluptates quasi blanditiis tenetur, magnam esse iusto cumque molestias neque quo at hic inventore odio beatae dolore rem a sunt adipisci. Consequuntur, et ipsam.
			Nemo placeat consequuntur unde adipisci, corrupti reiciendis repellendus quis quidem culpa magnam consequatur saepe non repellat dolorem eligendi dolor ad. Similique natus suscipit consequatur quasi ipsam quibusdam nisi quia iusto?
			Sapiente itaque libero exercitationem quisquam quidem a accusantium quos nostrum cumque labore harum delectus quis nihil accusamus hic dolores omnis deleniti incidunt, aut tempore consequuntur? Labore, laudantium! Quasi, tenetur porro?
			Pariatur iusto earum porro vel atque deserunt quis reiciendis suscipit qui ex? Temporibus eos nulla sint ab asperiores debitis, labore corrupti omnis at soluta pariatur placeat eaque nesciunt aspernatur! Molestiae?
			Doloribus beatae maiores illum amet explicabo voluptatum ut. Perferendis, atque. Porro doloremque laboriosam adipisci sequi tempore quibusdam amet harum. Eius modi nam enim, culpa asperiores nihil numquam iure quod vel.
			Libero impedit quod consectetur officia, reiciendis nobis esse culpa aperiam molestias corporis vero consequatur ab quo! Atque perspiciatis animi nisi, quas accusantium maiores optio dicta officia itaque ad perferendis quasi.
			Delectus reiciendis distinctio, culpa laudantium itaque consectetur hic fuga ut a magni officia beatae deleniti natus quis blanditiis? Ipsa perspiciatis a quis delectus porro cum est nemo, quam repellendus voluptas.
			Enim id soluta, unde sit nostrum exercitationem eius modi pariatur explicabo repellendus laudantium facere consequatur perspiciatis nihil aliquid repellat maiores quis dolorum, delectus odio, perferendis optio! Maiores hic provident deleniti.
			Tempore, beatae sit accusantium dignissimos delectus fugit obcaecati natus odio modi facilis officia omnis perferendis est ipsa recusandae illum temporibus soluta quasi pariatur rem esse quia ullam? Ex, dicta doloremque!
		</p>
	</div>
{% endblock %}
