{% extends 'base.html.twig' %}

{% block title %}
erreur
{% endblock %}

{% block header %}
	
{% endblock %}

{% block main %}

	<h1>Erreur 500</h1>
	<a href="{{ path('home') }}">retourner à l'accueil</a>

{% endblock %}

{% block footer %}
	
{% endblock %}