{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block main %}
	<div class="container">
		<div class="row masonry-grid">
			{% for article in articles %}
				<div class="col-md-6 col-lg-4 masonry-column">
					<div class="card">
						<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
							<img src="{{asset('images/articles/' ~ article.image)}}" class="img-fluid"/>
							<a href="{{ path('article_show', {'id': article.id}) }}">
								<div class="mask" style="background-color: rgba(251, 251, 251, 0.15)">Test</div>
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
