{% extends 'base.html.twig' %}

{% block title %}
Article index
{% endblock %}

{% block main %}
<div class="article-container my-5">
	<div class="masonry">
		{% for article in articles %}
			<div class="item card">			
				<img src="{{ asset('images/articles/' ~ article.image) }}" class="card-img" alt="{{ article.title }}"/>
				{# <div class="card-img-overlay d-flex align-items-center">
					<a href="{{ path('article_show', {'id': article.id}) }}" class="text-white">
						<h3 class="card-title">{{ article.title }}</h3>
					</a>
				</div>			 #}
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
